<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Order>
            <version>0.0.9</version>
        </Ccc_Order>
    </modules>
    <admin>
        <routers>
            <order>
                <use>admin</use>
                <args>
                    <module>Ccc_Order</module>
                    <frontName>order</frontName>
                </args>
            </order>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <order>
                <title>Order</title>
                <sort_order>901</sort_order>
                <children>
                    <order>
                        <title>Manage Orders</title>
                        <sort_order>0</sort_order>
                        <action>order/adminhtml_order</action>
                    </order>
                </children>
            </order>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <order>
                        <children>
                            <title>Manage Orders</title>
                            <sort_order>0</sort_order>
                        </children>
                    </order>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <order>
                    <file>order.xml</file>
                </order>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customer>
                <rewrite>
                    <customer>Ccc_Order_Model_Customer</customer>
                </rewrite>
            </customer>
            <order>
                <class>Ccc_Order_Model</class>
                <resourceModel>ccc_order_resource</resourceModel>
            </order>
            <ccc_order_resource>
                <class>Ccc_Order_Model_Resource</class>
                <entities>
                    <order>
                        <table>order</table>
                    </order>
                    <order_item>
                        <table>order_item</table>
                    </order_item>
                    <order_address>
                        <table>order_address</table>
                    </order_address>
                    <cart>
                        <table>cart</table>
                    </cart>
                    <cart_item>
                        <table>cart_item</table>
                    </cart_item>
                    <cart_address>
                        <table>cart_address</table>
                    </cart_address>
                </entities>
            </ccc_order_resource>
        </models>
        <blocks>
            <order>
                <class>Ccc_Order_Block</class>
            </order>
        </blocks>
        <helpers>
            <order>
                <class>Ccc_Order_Helper</class>
            </order>
        </helpers>
        <resources>
            <order_setup>
                <setup>
                    <module>Ccc_Order</module>
                </setup>
            </order_setup>
        </resources>
    </global>
</config>