<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ccc_ShippingMethod>
            <module>0.0.1</module>
        </Ccc_ShippingMethod>
    </modules>
    <global>
        <models>
            <shippingmethod>
                <class>Ccc_ShippingMethod_Model</class>
            </shippingmethod>
        </models>
    </global>
    <default>
        <carriers>
            <shippingmethod>
                <active>1</active>
                <model>shippingmethod/carrier</model>
                <title>Express Delievery</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </shippingmethod>
        </carriers>
    </default>
</config>
