<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_Competitor>
            <version>0.0.2</version>
        </Ccc_Competitor>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_competitor>Ccc_Competitor_Adminhtml</ccc_competitor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <models>
            <competitor>
                <class>Ccc_Competitor_Model</class>
                <resourceModel>competitor_resource</resourceModel>
            </competitor>

            <competitor_resource>
                <class>Ccc_Competitor_Model_Resource</class>
                <entities>
                    <competitor>
                        <table>competitor</table>
                    </competitor>
                    <competitor_varchar>
                        <table>competitor_varchar</table>
                    </competitor_varchar>
                    <competitor_decimal>
                        <table>competitor_decimal</table>
                    </competitor_decimal>
                    <competitor_int>
                        <table>competitor_int</table>
                    </competitor_int>
                    <competitor_text>
                        <table>competitor_text</table>
                    </competitor_text>
                    <competitor_datetime>
                        <table>competitor_datetime</table>
                    </competitor_datetime>
                    <competitor_char>
                        <table>competitor_char</table>
                    </competitor_char>
                    <eav_attribute>
                        <table>competitor_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </competitor_resource>
        </models>

        <resources>
            <competitor_setup>
                <setup>
                    <class>Ccc_Competitor_Model_Resource_Setup</class>
                    <module>Ccc_Competitor</module>
                </setup>
            </competitor_setup>
        </resources>

        <helpers>
            <competitor>
                <class>Ccc_Competitor_Helper</class>
            </competitor>
        </helpers>

        <blocks>
            <competitor>
                <class>Ccc_Competitor_Block</class>
            </competitor>
        </blocks>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <competitor>
                    <file>competitor.xml</file>
                </competitor>
            </updates>
        </layout>
    </adminhtml>


</config>